---
layout: default
title: DTOG
---
<h1>Device Tree Overlay Generator</h1>
<form>
    <div>
        <label for="header-select">Header:</label>
        <fieldset id="header-select">
            <label for="P8">P8</label>
            <input id="P8" name="header-select" type="radio">
            <br>
            <label for="P9">P9</label>
            <input id="P9" name="header-select" type="radio">
        </fieldset>
    </div>
    <div>
        <label for="pin-selects">Pin:</label>
        <div class="" id="pin-selects">
            <select id="pin-select-p8">
                {% for pin in site.data.bb-pinout.P8 %}
                    <option value="p8-{{ pin.num }}">{{ pin.num }}
                        -
                        {{ pin.name }}</option>
                {% endfor %}
            </select>
            <select id="pin-select-p9">
                {% for pin in site.data.bb-pinout.P9 %}
                    <option value="p9-{{ pin.num }}">{{ pin.num }}
                        -
                        {{ pin.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <label for="mode-selects">Mode:</label>
        <div class="" id="mode-selects">
            <div id="mode-select-p8">
                {% for pin in site.data.bb-pinout.P8 %}
                    <select id="p8-{{ pin.num }}">
                        {% for mode in pin.modes %}
                            <option>Mode
                                {{ mode.num }}:
                                {{ mode.name }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </div>
            <div id="mode-select-p9">
                {% for pin in site.data.bb-pinout.P9 %}
                    <select id="p9-{{ pin.num }}">
                        {% for mode in pin.modes %}
                            <option>Mode
                                {{ mode.num }}:
                                {{ mode.name }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
