---
layout: default
---

<p align="justify">
    {{ site.data.cv.synopsis }}
</p>
<div style="margin-bottom: 20px;">
    <h1>Projects</h1>
    <p>
        Some of these may still be WIP
    </p>
    <ul style="padding: 0; list-style-type: none;">
        {% for repository in site.github.public_repositories %}
            {% assign repo_name = repository.name | downcase %}
            {% if site.data.cv.projects contains repo_name %}
                <li>
                    <b>
                        <a href="{{ repository.html_url }}.html" target="_blank" rel="noopener noreferrer">{{ repository.name }}</a>
                    </b>
                    -
                    {{ repository.description }}</li>
                <br>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div style="margin-bottom: 20px;">
    <h1>Contact</h1>
    <div style="display: inline-flex; flex-direction: column;">
        <p>
            Want to get in touch or just say hello? Send an email or send a message on LinkedIn!
        </p>
        <div style="display: flex; justify-content: space-around;">
            {% for social in site.data.contact.social-media %}
                {% assign title_downcase = social.title | downcase %}
                {% if title_downcase == "email" %}
                    <a href="{{ social.href }}{{ social.id }}">
                        <i class="{{ social.fa-icon }}"></i>
                    </a>
                {% else %}
                    <a href="{{ social.href }}{{ social.id }}" target="_blank" rel="noopener noreferrer">
                        <i class="{{ social.fa-icon }}"></i>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
