#pin-selects select {
	display:none;
}

#pin-selects.p8 #pin-select-p8 {
	display:block;
}

#pin-selects.p9 #pin-select-p9 {
	display:block;
}

#mode-selects select {
	display:none;
}

label {
	display: block;
}

.pinmux-sel {
	clear: both;
}

.pinmux-sel div {
	width: 50%;
	display: inline-block;
}

.pinmux-odd {
	float: left;
}
